.sortable-column {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sortable-group {
  justify-content: space-between;
  width: "100%";
}

.sortable-column:hover {
  background-color: #dee2e6;
}

.sort-icon {
  transition: transform 0.2s ease;
}

.sortable-column:hover .sort-icon {
  transform: scale(1.2);
}
